body {
    background: lightblue;
}
h1 {
    color: red
}
h2{
    color: red
}
img {
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    }

@media (min-width: 576px) {
        .container {
          max-width: 540px;
        }
      }
@media (min-width: 768px) {
        .col-md-6 {
          width: 50%;
        }
      }
@media (min-width: 992px) {
}

